@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome.</h2>
        View <a asp-area="" asp-controller="Job" asp-action="Index">all jobs</a> or <a asp-area="" asp-controller="Application" asp-action="Index">all job applications</a>.
</div>
</div>
